@import './reset.scss';

// BANNER
.banner {
    display: flex;
    width: $maxWidth;
    margin: 0 auto;
    height: 90vh;
    overflow: hidden;

    .text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 135px;
        justify-content: center;
        width: 50%;
        height: 100%;
        color: $black;

        h1 {
            position: relative;
            font-family: 'Soria';
            font-size: 60px;
            line-height: 65px;
            z-index: 3;
        }

        p {
            position: relative;
            font-size: 13px;
            z-index: 3;
        }

        button {
            position: relative;
            margin-top: 25px;
            padding: 10px 15px;
            font-size: 12px;
            letter-spacing: 3px;
            border: 1px solid grey;
            z-index: 3;
        }
    }

    .imgBanner {
        position: relative;
        width: 50%;
        height: 100%;

        .img {
            width: 326px;
            height: 100%;
            margin: 0 50px;

            .circle {
                position: absolute;
                top: 55px;
                left: 18px;
                width: 440px;
                aspect-ratio: 1;
                margin: 0 auto;
                border-radius: 50%;
                background: linear-gradient(to bottom,
                        hsl(0, 0%, 100%) 0%,
                        hsla(0, 0%, 99.39%, 0.988) 8.1%,
                        hsla(0, 0%, 97.67%, 0.953) 15.5%,
                        hsla(0, 0%, 94.95%, 0.899) 22.5%,
                        hsla(0, 0%, 91.32%, 0.83) 29%,
                        hsla(0, 0%, 86.86%, 0.749) 35.3%,
                        hsla(0, 0%, 81.65%, 0.659) 41.2%,
                        hsla(0, 0%, 75.75%, 0.563) 47.1%,
                        hsla(0, 0%, 69.22%, 0.467) 52.9%,
                        hsla(0, 0%, 62.15%, 0.371) 58.8%,
                        hsla(0, 0%, 54.63%, 0.281) 64.7%,
                        hsla(0, 0%, 46.8%, 0.2) 71%,
                        hsla(0, 0%, 38.91%, 0.131) 77.5%,
                        hsla(0, 0%, 31.45%, 0.077) 84.5%,
                        hsla(0, 0%, 25.49%, 0.042) 91.9%,
                        hsla(0, 0%, 23%, 0.03) 100%);
                ;
                z-index: 1;
            }

            img {
                position: relative;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 2;
            }

        }
    }
}

// RESPONSIVE
@media screen and (max-width:975px) {
    .banner {

        .text {
            position: absolute;
            top: 35px;
            width: 80%;
            padding: 0 0 0 20px;
        }

        .imgBanner {
            transform: translateX(100%);
        }
    }
}