@import './reset.scss';

// RESPONSIVE
@media screen and (max-width:640px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo-content, .location {
            display: flex;
            align-items: center;
        }

        .location {
            margin-top: 25px;
            flex-direction: column;
        }
    }
}