// VARIABLE
$white : #F5F7F8;
$black : #000;
$yellow: #F4CE14;
$darkTeal: #495E57;
$darkGrey: #585858;
$lightGrey: hsl(0, 0%, 80%);

// RESPONSIVE BREAKPOINT :
// sm	640px	@media (min-width: 640px) { ... }
// md	768px	@media (min-width: 768px) { ... }
// lg	1024px	@media (min-width: 1024px) { ... }
// xl	1280px	@media (min-width: 1280px) { ... }
// 2xl	1536px	@media (min-width: 1536px) { ... }

// FONT
@font-face {
    font-family: 'Soria';
    src: url('../font/Soria-font.ttf');
}

// maxwidth: 1366px
