// VARIABLE
$white : #F5F7F8;
$black : #000;
$yellow: #F4CE14;
$darkTeal: #495E57;
$darkGrey: #585858;
$lightGrey: hsl(0, 0%, 80%);
$maxWidth: min(100%, 1366px);
$fontH2: clamp(1.5rem, 1.2113rem + 0.9238vw, 2rem);

.hidden {
    position: relative;
    width: max-content;
}

// RESPONSIVE BREAKPOINT :
// sm	640px	@media (min-width: 640px) { ... }
// md	768px	@media (min-width: 768px) { ... }
// lg	1024px	@media (min-width: 1024px) { ... }
// xl	1280px	@media (min-width: 1280px) { ... }
// 2xl	1536px	@media (min-width: 1536px) { ... }

// FONT
@font-face {
    font-family: 'Soria';
    src: url('../font/Soria-font.ttf');
}

// MIXINS
@mixin span {
    position: absolute;
    opacity: 0.05;
    bottom: -3.6rem;
    left: -9.3rem;
    font-size: 7rem;
}

@mixin padding-section {
    padding: 50px 25px 0;
}

@mixin button {
    position: relative;
    margin-top: 25px;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 3px;
    border: 1px solid grey;
    z-index: 3;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
        background: $black;
        color: $white;
    }
}

@mixin heading {
    position: relative;
    display: block;
    width: max-content;
    margin: 0 auto;
    font-family: 'soria';

    h1 {
        color: #f2f2f2;
        font-size: clamp(4rem, 2.2679rem + 5.5427vw, 7rem);
        letter-spacing: 3px;
    }

    h2 {
        position: absolute;
        top: 55%;
        left: 50%;
        font-size: $fontH2;
        font-weight: bolder;
        letter-spacing: 5px;
        transform: translate(-50%, -50%);
    }
}