@import './reset.scss';

.testimonials {
    margin-inline: 5rem;
    margin: 0 auto;
    padding: 25px 50px;

    .left {
        .avatar {
            width: 15rem;
            aspect-ratio: 1;
            border-radius: 50%;
            border: 13px solid $lightGrey;
            outline: 1px solid $lightGrey;
            outline-offset: 10px;
        }
    }

    .right {
        .title {
            position: relative;
            text-transform: uppercase;
            font-family: 'Soria';

            h2 {
                font-size: $fontH2;
                line-height: 1.2;
                letter-spacing: 5px;
                font-weight: bolder;
            }

            span {
                @include span;
                left: -1rem;
            }
        }

        // .subtitle {
        //     margin-bottom: 1rem;
        // }
        .content {
            margin-block: 1.7rem;

            .user {
                display: flex;
                gap: 1rem;
                margin-block: 1rem;

                .username {
                    font-weight: bolder;
                    text-transform: uppercase;
                }
            }
        }
        .arrows {
            button {
                // background: red;
                cursor: not-allowed;
                svg {
                    color: $lightGrey;
                }
            }
            button.active {
                cursor: pointer;
                svg {
                    color: $black;
                }
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .left {
        display: none;
    }

    .right {
        margin-left: 0 !important;
    }
}