@tailwind base;
@tailwind components;
@tailwind utilities;


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #F4CE14;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* RESET */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}